# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Visual Studio bits (Added by PJC)
*.pch
*.suo
*.obj
*.ilk
*.lib
*.exe
*.dep
*.pdb
*.ncb
*.idb
*.htm
*.dll
*.res
*.map
*.RES
*.manifest
*.cod
*.user

# Project specific ignores
FoxdfEr43De.txt
fix-eol.pl
util/*
abnf2dsl-pa/*.abnf
abnf2dsl-pa/*.cpp
abnf2dsl-pa/*.h
